.label-forgot {
  margin-top: 80px;
  text-align: center;
}

.label-forgot h2 {
  color: #282739;
  font-weight: 900;
  font-size: 22px;
  font-family: "Nunito Sans", sans-serif;
}
.label-forgot span {
  font-size: 18px;
  font-weight: 400;
  color: #37474f;
  line-height: 40px;
  font-family: "Nunito Sans", sans-serif;
}
.label-forgot input {
  border-radius: 7px;
  width: 400px;
  height: 35px;
  outline: none;
  border: 1px solid gray;
  margin-top: 10px;
  font-size: 100%;
  padding-left: 10px;
}
.btn-footer {
  gap: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btn-footer button {
  border-radius: 8px;
  padding: 10px 24px;
  cursor: pointer;
  border: none;
  font-weight: 700;
}
.btn-footer .btn-close {
  color: #ff9138;
  background-color: transparent;
  padding: 8px 45px;
  border: 1px solid #ff9138;
}
.btn-footer .btn-continue {
  padding: 8px 40px;
  color: #fff;
  background-color: #ff9138;
}
.banner .img-frame {
  position: absolute;
  top: 10%;
  right: 10%;
}
