@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.app {
  display: flex;
  height: 100vh;
}
/* content */

.content {
  padding: 20px 20px;
}

/* loginPage */
.login-page {
  display: flex;
  height: 100vh;
}
.banner {
  width: 848px;
  position: relative;
}
.login {
  flex: 1;
  background-color: #f6f6f6;
}
.userName .error,
.password .error {
  border: 2px solid #e73f3f;
}
.password .span-error,
.btn-login .span-error {
  color: #e73f3f;
  display: block;
  margin-top: 10px;
  font-size: 15px;
}
