.ant-table-thead .ant-table-cell {
  background-color: #ff9138 !important;
  color: #fff !important;
}
.ant-table-tbody .ant-table-row:nth-child(even) {
  background-color: #fff2e7 !important;
}
.ant-pagination-item-active a {
  background-color: #ff9138 !important;
  color: #fff !important;
}
.ant-pagination-item-active {
  border: 1px solid #ff9138 !important;
}
.ant-table-thead .ant-table-cell {
  font-size: 15px;
}
